@using WebAppShiba.Service;
@{
    ViewData["Title"] = "Home Page";
}

@{
    var myPicture = (List<string>)ViewBag.Shiba;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form asp-action="Index" method="get">
  <div class="form-group mt-3">
    <label>Inserire il numero di shiba da vedere</label>
    <input type="number" required class="form-control" name="numeroShiba">
  </div>
  <button type="submit" class="btn btn-primary form-control">Submit</button>
</form>

<div class="row mt-3">
    @if(myPicture!=null)
    {
        @for(int i=0;i<myPicture.Count;i++)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                  <img src="@myPicture[i]" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Shiba @(i+1)</h5>
                  </div>
                </div>
            </div>
        }     
    }
</div>